body{
	/*cursor:none;*/
  width:100%;
  position:absolute;
  overflow:hidden;
  font-family:Arial;  
}
.float-left{
  float:left;
}
#score{
  color:white;
  font-size:28px;
  position:absolute;
  color:pink;
  letter-spacing: 2px;
  padding:20px;
}
#deathMessage{
  position: absolute;
  z-index: 999;
  text-align:center;
  margin-top: 150px; 
  width:100%; 
}
#ctx {
	position:fixed;
	background: url("images/stars.gif");
	background-repeat: repeat;
	-webkit-animation:100s scroll infinite linear;
	-moz-animation:100s scroll infinite linear;
	-o-animation:100s scroll infinite linear;
	-ms-animation:100s scroll infinite linear;
	animation:100s scroll infinite linear;
	top:0;
	left:0;
	width:100%;
	height:100%;	
}
.hidden{
  display:none;
}
.visible{
  display:block;
}
#restart {
  color:white;
}
#headsupdisplay{
    position: absolute;
    z-index: 999;
    text-align: center;
    margin-top: 150px;
    width: 100%;
    display:block;
}

@-webkit-keyframes scroll{
  100%{
    background-position:0px 3000px;
  }
}

@-moz-keyframes scroll{
  100%{
    background-position:0px 3000px;
  }
}

@-o-keyframes scroll{
  100%{
    background-position:0px 3000px;
  }
}

@-ms-keyframes scroll{
  100%{
    background-position:0px 3000px;
  }
}

@keyframes scroll{
  100%{
    background-position:0px 3000px;
  }
}
